.button {
  border: 1px solid var(--neon-color);
  border-radius: var(--border-radius);
  padding: 12px 16px;
  font-family: var(--font-roboto-slab);
  line-height: 1;
  text-decoration: none;
  font-size: var(--font-14);
  width: max-content;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-color: var(--neon-color);
}

.button:hover a {
  color: var(--black-color);
}