.header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 15px 0;
  transition: margin 0.3s ease-in, background-color 0.3s ease-in;
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header.sticky {
  margin: 0;
  background-color: var(--dark-grey-color);
}

.logo-container a {
  display: flex;
  gap: 8px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav ul {
  display: flex;
  gap: 30px;
}

header a {
  color: var(--white-color);
  font-family: var(--font-lato);
  font-size: var(--font-16);
}

.navbar-container a {
  font-size: var(--font-14);
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navbar-container li a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2.5px;
  background-color: var(--neon-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-container li a:hover {
  color: var(--dark-white-color);
}

.navbar-container li a:hover::before {
  transform: scaleX(1);
}

.button {
  color: var(--neon-color);
  text-decoration: none;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {

  .header.sticky,
  .header {
    margin: 0;
    padding: 15px 0;
    background-color: var(--dark-grey-color);
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu span {
    height: 2px;
    position: relative;
    display: block;
    width: 18px;
    background-color: var(--white-color);
  }

  .hamburger-menu span:first-of-type {
    bottom: 3px;
    transition: transform 0.3s ease;
  }

  .hamburger-menu span:last-of-type {
    top: 3px;
    transition: transform 0.3s ease;
  }

  .hamburger-menu.opened span:first-of-type {
    transform: rotate(45deg);
    bottom: -2px;
  }

  .hamburger-menu.opened span:nth-last-of-type(2) {
    display: none;
  }

  .hamburger-menu.opened span:last-of-type {
    transform: rotate(-45deg);
    top: 0px;
  }

  .navbar-container {
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    display: none;
    background-color: var(--dark-grey-color);
    animation: fadeSlideOutTop 0.5s ease;

  }

  .navbar-container.show-menu {
    display: block;
    animation: fadeSlideInTop 0.5s ease;
  }

  nav {
    flex-direction: column;
    margin-bottom: 30px;
  }

  nav ul {
    flex-direction: column;
    margin-bottom: 0;
  }

  nav ul li {
    text-align: center;
  }
}

@keyframes fadeSlideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideOutTop {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}