@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  /*colors*/
  --white-color: #f5f5f7;
  --dark-white-color: #9C9C9C;
  --black-color: #1f1f1f;
  --warm-black: #0B0C10;
  --light-grey-color: #444445;
  --neon-color: #66FCF1;
  --grey-color: #3b3b3b;
  --dark-grey-color: #181818;

  /* fonts */
  --font-64: 64px;
  --font-56: 56px;
  --font-48: 48px;
  --font-36: 36px;
  --font-32: 32px;
  --font-28: 28px;
  --font-26: 26px;
  --font-24: 24px;
  --font-22: 22px;
  --font-20: 20px;
  --font-18: 18px;
  --font-16: 16px;
  --font-14: 14px;
  --font-12: 12px;

  /*font weight*/
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-700: 700;

  /*line height*/
  --line-height-25: 25px;
  --line-height-33: 33px;
  --line-height-36: 36px;
  --line-height-38: 38px;
  --line-height-40: 40px;
  --line-height-30: 30px;
  --line-height-17: 17.5px;
  --line-height-19: 19px;

  /*font*/
  --font-roboto-slab: "Roboto Slab", serif;
  --font-lato: "Lato", sans-serif;

  /*border-radius*/
  --border-radius: 4px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lato);
}

p {
  font-family: var(--font-roboto-slab);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}